.UserCard h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 58, 58);
}

.Heading{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 58, 58);
    margin: 20px;
    text-align: center;
}